body {
    background-color: #F8FEFE;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Menu */
.menu {
    background-color: #4D868D;
    border: 0;
    font-size: 16px;
}

.navbar {
    min-height: 35px;
    color: white;
}
.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

.navbar-nav > li > a {
    padding: 10px;
    color: white!important;
}

.menuButton > span > i {
    color: white!important;
}

.linkItemMenu > li > a:hover {
    color:white!important;
}

.linkItemMenu > li > a:visited {
    color:white!important;
}

.linkItemMenu :hover {
    background-color: #92C1BA;
}

.navbar-form {
    margin: 0px;
}

#mainLogo > a {
    padding: 4px;
    padding-bottom: 6px;
}

.navbar {
    margin: 0px;
}

.menuButton {
    border: none;
    margin: 7px;
    padding: 0px;
    color: white;
    background-color: #92C1BA;
}

.menuButton > span {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-plus {
    margin-right: 7px;
    margin-left: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
}

.userMenuInfo > img {
    max-height: 30px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}

.userMenuInfo {
    padding: 5px;
    height: 40px;
}

#profileLink {
    text-decoration: none;
    color: white;
}

#profileLink:hover {
    text-decoration: none;
    color: #D3EEF2;
}

#profileName {
    margin-bottom: -20px;
}

/* Search form */

.input-group {
    max-width: 200px;
    margin-top: 3px;
}

.form-control {
    background-color: transparent;
    color: white;
    padding: 2px;
}

.input-group-addon {
    border-radius: 0px;
    border-color: white;
    padding: 2px;
}

.input-group-addon:last-child {
    background-color: transparent;
}

.stylish-input-group .form-control {
	border-right:0; 
    border-radius: 0px;
    border-color: white;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

#searchTool {
    font-size: 18px; 
    color: white;
}

.input-group-addon button:active {
    border: none;
}

/* Content */

.MyProjects {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 110px;
    padding: 10px;
    width: 90%;
    max-width: 320px;
    min-width: 250px;
}

h1 {
    margin-left: 20px;
}

/*Login Page*/

.top-buffer {
    margin-top: 20px;
}

.top {
    margin-top: 50px;
}

.loginPage {
    background-color: #4D868D;
}

.authInput {
    background-color: #A3C2C6;
    border-radius: 0;
    border: 0;
    margin: 0 auto;
    width: 400px;
}

input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: small;
}
 
input:-moz-placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: small;
}
 
input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: small;
}
 
input:-ms-input-placeholder {  
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: small;
}

.forgotPass {
     color: #333333; text-decoration: underline;
}
.forgotPass:active {
     color: #A3C2C6; text-decoration: underline;
}
.forgotPass:link {
     color: #A3C2C6; text-decoration: underline;
}
.forgotPass:visited {
     color: #CCCCCC; text-decoration: underline;
}

.btn-log {
    border-radius: 0;
    background-color: #E3F0F2;
    border: #A3C2C6;
    color: #4d868d;
    font-size: small;
    width: 150px;
    height: 35px;
}

.btn-log:hover {
    background-color: #D3EEF2;
    color: #4d868d;
}

.btn-log:active {
    background-color: #E3F0F2;
    color: #4d868d;
}

.btn-log:visited {
    background-color: #E3F0F2;
    color: #4d868d;
}

.btn-log:link {
    background-color: #E3F0F2;
    color: #4d868d;
}

.remember {
    color: #A3C2C6;
}

.text-validation {
    color: #EDAA95;
}

/*Forgot page*/

.forgotText {
    color: #E3F0F2;
}

/*Home*/

#search_icon {
    color: #F8FEFE;
    font-size: 25px;
    padding-top: 6px;
    padding-right: 6px;
    padding-left: 10px;
}

.MyProjectsHome {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 110px;
    width: 90%;
    padding: 10px;
}

.MyProjectsHome:hover {
    border: solid 2px #A3C2C6;
}

.projectTableHome {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    padding: 10px;
}

/*Projects Page*/

.projectsPage {
    color: black;
}

.MyProjects:hover {
    border: solid 2px #A3C2C6;
}

.projName {
    margin-top: 5px;
    font-size: 20px;
    color: black;
}

.projPref {
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
}

.projPlus {
    margin-right: 0;
    font-size: 30px;
    color: #4D868D;   
}

.btn-pagin-selected {
    color: #4d868d!important;
    font-size: 20px;
    padding: 5px;
}

.btn-pagin {
    font-size: 20px;
    padding: 5px;
    color: #BBBBBB;
}

.list_profile {
    background-color: #92C1BA;
    color: #F2F8F8;
    font-size: 15px;
}

.profile_link {
    font-size: 15px;
    margin-left: 10px;
    color: #F2F8F8;
}

.profile_link:hover {
    text-decoration: none;
    background-color: #F2F8F8;
}

.profile_row:hover {
    background-color: #ABCFCA;
} 

/*Project*/

i {
    color: rgba(0, 0, 0, 0.3);
}

.ProjTasks {
    font-size: 20px;
}

.icons {
    margin-left: 15px;
}

.clickable-row {
    cursor: pointer;
}

.projectIcon {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.project_todo {
    border: solid 1px #4D868D;
    color: #4D868D;
    padding: 3px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px; 
}

.project_progress {
    border: solid 1px #F69C00;
    color: #F69C00;
    padding: 3px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.project_done {
    border: solid 1px #55B924;
    color: #55B924;
    padding: 3px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.projectTable {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    padding: 10px;
}

.projText {
    color: rgba(0, 0, 0, 0.5);
}

.list_users_project {
    overflow-y: scroll;
    width: 320px;
    height: 200px;
    background-color: #92C1BA;
    color: #F2F8F8;
    font-size: 15px;
}

.users_to_project {
    overflow-y: scroll;
    width: 550px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-left: 50px;
}

.user_line {
    margin-top: 10px;
}

.user_line_data {
    margin-bottom: 5px;
}

.user_line_top {
    position: absolute;
    margin-top: 15px
}

.user_count {
    margin-left: 20px;
}

.background_change {
    background-color: #F2FAFA;
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -15px;
    padding-right: 15px;
}

table {
    max-width: none;
}
tr {
    width: 100%;
}

.close_user {
    display: none;
    color: #F2F8F8;
    font-size: 25px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.list_users_project > li:hover .close_user {
    display: inline-block !important;
}


.adding_user {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 4px 7px;
}

.sort_by {
    color: rgba(0, 0, 0, 0.3);
}

.dropdown_sorting {
    font-size: 15px;
    color: #4D868D;
    font-weight: bold;
    border: 0;
    background-color: #F8FEFE;
}

.dropdown_sorting:active {
    border: 0;  
}

input[type=checkbox] {
    display: none;
}


 input[type='checkbox'] {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    line-height: 32px;
    cursor: pointer;
     color: #F2FAFA;
}

input[type=checkbox]:checked {
    background-position: left -32px;
    color: #4D868D;
}

/*Task*/

.taskIcon {
    cursor: pointer;
    color: #4D868D;
    font-size: 20px;
    border: solid 2px #4D868D;
    border-radius: 50%;
    padding: 4px 7px;
}

#currentTask {
    background-color: white;
    height: 90%;
    min-height: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    padding: 10px;
}

#currentProfile {
    background-color: white;
    height: 90%;
    min-height: 250px;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    padding: 10px;
}

.taskPriority {
    font-size: 15px;
}

.btnDrop {
    background-color: white;
    border: solid 1px;
    text-align: left;
    border-radius: 0;
}

.taskText {
    padding: 10px;
}

.taskAssignee {
    color: #4D868D;
    text-decoration: underline;
}

.taskCalend {
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}

.project_link {
    font-size: 15px;
    color: #4D868D;
    text-decoration: underline;
}

/*Profile*/

.MyProfile {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 240px;
    padding: 10px;
    width: 90%;
    max-width: 220px;
    min-width: 220px;
}

.MyProjectsProfile {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 150px;
    padding: 10px;
    width: 90%;
    max-width: 220px;
    min-width: 220px;
}

.linkMyProject {
    font-size: 15px;
    color: #4D868D;
    text-decoration: underline;
}

.profName {
    margin-top: -10px;
}

.persInfo {
    margin-left: -30px;
}

/*Filters*/

.MyFilters {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 180px;
    width: 300px;
    padding: 10px;
    text-overflow: ellipsis;
}

.filtersStat {
    margin-left: -5px;
}

/*PopUp*/

#add_project, #add_task, #add_user, #edit_project, #add_filter, #add_user_to_project {
    display: none;
    font-size: 15px;
}

#change_password, #edit_user, #edit_task {
    display: none;
    font-size: 15px;
}

#open_add_user {
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 1px 3px;
}

.ui-widget-header,.ui-state-default, ui-button{
            background:#4D868D;
            border: 1px solid #4D868D;
            color: #FFFFFF;
            font-weight: bold;
         }

.ui-dialog-titlebar-close {
    background-color: #4d868d;
    border: none;
    color: white;
}

.close_popup {
    color: #d3d3d3;
    font-size: 20px;
}

.ui-widget-overlay.ui-front
{
    background-color: black;
    background-image: none;
    opacity: 0.9;
    z-index: 1040;    
}

.ui-dialog-content, .ui-widget-content {
    background-color: #F8FEFE;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-dialog-titlebar {
    width: 600px;
    margin-left: -4px;
    margin-top: -4px;
}

.btn-pop {
    border-radius: 0;
    background-color: #4d868d;
    border: #A3C2C6;
    color: #E3F0F2;
    font-size: small;
    width: 100px;
    height: 35px;
    margin-right: 20px; 
}

.btn-pop:hover {
    background-color: #4d868d;
    color: #D3EEF2;
}

.btn-pop:active {
    background-color: #4d868d;
    color: #D3EEF2;
}

.btn-pop:visited {
    background-color: #4d868d;
    color: #D3EEF2;
}

.btn-pop:link {
    background-color: #4d868d;
    color: #D3EEF2;
}

.projInput {
    background-color: #F8FEFE;
    border-radius: 0;
    border: 1px solid #D9DDDD;
    margin: 0 auto;
    margin-left: 50px;
    color: #3F4747;
}

.projInput::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: small;
}

.btnDropTaskPage {
    font-size: small;
    border-color: #D9DDDD;
    margin-left: 15px;
    height: 35px;
    width: 100px;
    color: #3F4747;
}

.btnDropRole {
    background-color: #F8FEFE;
    font-size: small;
    border-color: #D9DDDD;
    margin-left: 45px;
    height: 35px;
    width: 180px;
    color: #3F4747;
}

.attachments {
    margin-left: 50px;
}

.circle_attach {
    color: #4d868d;
}

.btnDropTask {
    background-color: #F8FEFE;
    font-size: small;
    border-color: #D9DDDD;
    height: 35px;
    width: 220px;
    color: #3F4747;
}

.descInput {
    background-color: #F8FEFE;
    border-radius: 0;
    border: 1px solid #D9DDDD;
    margin: 0 auto;
    margin-left: 50px;
    height: 100px;
    color: black;
    padding-left: 0;
    padding-top: 0;
}

.descInput::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4) !important;
    font-size: 15px;
}

.underContent {
    font-size: 20px;
    margin-left: 20px;
}

.popUpText {
    color: rgba(0, 0, 0, 0.4);
    margin-left: 30px;
}

/*Bootstrap Dropdown*/
.dropdown-menu {
    background-color: #92C1BA;
    color: #E7F1F0;
    padding: 0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ABCFCA;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #ABCFCA;
  outline: 0;
}

.drop_profile {
    height: 35px;
    font-size: 17px;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #d2dee0; 
    border-radius: 0;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px #6b8e94; 
}


/*Seacrh*/

.search_field {
    background-color: #F8FEFE;
    margin-top: 30px;
    border-radius: 0;
    width: 100%
}

.search_link {
    color: #4D868D;
    text-decoration: underline;
}

.search_link:hover {
    color: #2DA0AE;
}

.search_icon {
    font-size: 20px;
    position: inherit;
}

.search_btn {
    float: right;
    margin-top: -34px;
    background-color: #F8FEFE;
    height: 34px;
    border: 2px solid #D9DDDD;
}

.searchBox {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    padding: 10px;
    margin-left: 30px;
}

.searchInput {
    font-size: 20px;
    height: 34px;
    color: black;
}

.over {
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

.overspan {
    display:inline-block;
    width: 60px;
    white-space: nowrap;
    overflow:hidden !important;
}