body {
    background-color: #F8FEFE;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Menu */
.menu {
    background-color: #4D868D;
    border: 0;
    font-size: 16px;
}

.navbar {
    min-height: 35px;
    color: white;
}
.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-nav > li > a {
    padding: 10px;
    color: white!important;
}

.linkItemMenu > li > a:hover {
    color:white!important;
}

.linkItemMenu > li > a:visited {
    color:white!important;
}

.linkItemMenu :hover {
    background-color: #92C1BA;
}

.navbar-form {
    margin: 0px;
}

#mainLogo > a {
    padding: 4px;
    padding-bottom: 6px;
}

.navbar {
    margin: 0px;
}

.menuButton {
    border: none;
    margin: 7px;
    padding: 0px;
    color: white;
    background-color: #92C1BA;
}

.menuButton > span {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-plus {
    margin-right: 7px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
}

.userMenuInfo > img {
    max-height: 30px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.userMenuInfo {
    padding: 5px;
}

/* Search form */

.input-group {
    max-width: 200px;
    margin: 5px;
}

.form-control {
    background-color: transparent;
    color: white;
    padding: 2px;
    max-height: 30px;
}

.input-group-addon {
    border-radius: 0px;
    border-color: white;
    padding: 2px;
}

.input-group-addon:last-child {
    background-color: transparent;
}

.stylish-input-group .form-control {
	border-right:0; 
    border-radius: 0px;
    border-color: white;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

#searchTool {
    font-size: 18px; 
    color: white;
}

.input-group-addon button:active {
    border: none;
}

/* Content */

.MyProjects {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px;
    margin: 30px;
    height: 100px;
}

h1 {
    margin-left: 30px;
}

.top-buffer {
    margin-top: 30px;
}

.top {
    margin-top: 50px;
}

.loginPage {
    background-color: #4D868D;
}

.authInput {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    border: 0;
    margin: 0 auto;
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: small;
}
 
input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: small;
}
 
input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: small;
}
 
input:-ms-input-placeholder {  
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: small;
}

a.forgotPass {
     color: #333333; text-underline: #333333;
}
a.forgotPass:active {
     color: #A3C2C6; text-underline: #A3C2C6;
}
a.forgotPass:link {
     color: #A3C2C6; text-underline: #A3C2C6;
}
a.forgotPass:visited {
     color: #CCCCCC; text-underline: #CCCCCC;
}

li {
    margin: 0 0 3px 0;
}

.btn {
    border-radius: 0;
    background-color: #E3F0F2;
    border: 0;
    color: #4d868d;
    font-size: small;
    width: 150px;
    height: 35px;
}

.btn:hover {
    background-color: #D3EEF2;
    color: #4d868d;
}

.remember {
    color: #A3C2C6;
}