body {
    background-color: #F8FEFE;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Menu */
.menu {
    background-color: #4D868D;
    border: 0;
    font-size: 16px;
}

.navbar {
    min-height: 35px;
    color: white;
}
.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

.navbar-nav > li > a {
    padding: 10px;
    color: white!important;
}

.menuButton > span > i {
    color: white!important;
}

.linkItemMenu > li > a:hover {
    color:white!important;
}

.linkItemMenu > li > a:visited {
    color:white!important;
}

.linkItemMenu :hover {
    background-color: #92C1BA;
}

.navbar-form {
    margin: 0px;
}

#mainLogo > a {
    padding: 4px;
    padding-bottom: 6px;
}

.navbar {
    margin: 0px;
}

.menuButton {
    border: none;
    margin: 7px;
    padding: 0px;
    color: white;
    background-color: #92C1BA;
}

.menuButton > span {
    margin-left: 10px;
    margin-right: 10px;
}

.fa-plus {
    margin-right: 7px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
}

.userMenuInfo > img {
    max-height: 30px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
}

.userMenuInfo {
    padding: 5px;
    height: 40px;
}

#profileLink {
    text-decoration: none;
    color: white;
}

#profileLink:hover {
    text-decoration: none;
    color: #D3EEF2;
}

#profileName {
    margin-bottom: -20px;
}

/* Search form */

.input-group {
    max-width: 200px;
    margin: 5px;
}

.form-control {
    background-color: transparent;
    color: white;
    padding: 2px;
    max-height: 30px;
}

.input-group-addon {
    border-radius: 0px;
    border-color: white;
    padding: 2px;
}

.input-group-addon:last-child {
    background-color: transparent;
}

.stylish-input-group .form-control {
	border-right:0; 
    border-radius: 0px;
    border-color: white;
}

.stylish-input-group button{
    border:0;
    background:transparent;
}

#searchTool {
    font-size: 18px; 
    color: white;
}

.input-group-addon button:active {
    border: none;
}

/* Content */

.MyProjects {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 110px;
    width: 300px;
    padding: 10px;
}

h1 {
    margin-left: 30px;
}

/*Login Page*/

.top-buffer {
    margin-top: 20px;
}

.top {
    margin-top: 50px;
}

.loginPage {
    background-color: #4D868D;
}

.authInput {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    border: 0;
    margin: 0 auto;
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: small;
}
 
input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: small;
}
 
input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: small;
}
 
input:-ms-input-placeholder {  
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: small;
}

.forgotPass {
     color: #333333; text-decoration: underline;
}
.forgotPass:active {
     color: #A3C2C6; text-decoration: underline;
}
.forgotPass:link {
     color: #A3C2C6; text-decoration: underline;
}
.forgotPass:visited {
     color: #CCCCCC; text-decoration: underline;
}

.btn {
    border-radius: 0;
    background-color: #E3F0F2;
    border: #A3C2C6;
    color: #4d868d;
    font-size: small;
    width: 150px;
    height: 35px;
}

.btn:hover {
    background-color: #D3EEF2;
    color: #4d868d;
}

.btn:active {
    background-color: #E3F0F2;
    color: #4d868d;
}

.btn:visited {
    background-color: #E3F0F2;
    color: #4d868d;
}

.btn:link {
    background-color: #E3F0F2;
    color: #4d868d;
}

.remember {
    color: #A3C2C6;
}

.text-validation {
    color: #EDAA95;
}

/*Forgot page*/

.forgotText {
    color: #E3F0F2;
}

/*Home*/

.MyProjectsHome {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 110px;
    width: 220px;
    padding: 10px;
}

.MyProjectsHome:hover {
    border: solid 2px #A3C2C6;
}

#showAll {
    margin-left: 30px;
}

.projectTableHome {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    padding: 10px;
}

/*Projects Page*/

.projectsPage {
    color: black;
}

.MyProjects:hover {
    border: solid 2px #A3C2C6;
}

.projName {
    margin-top: 5px;
    font-size: 20px;
    color: black;
}

.projPref {
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
}

.projPlus {
    font-size: 30px;
    color: #4D868D;   
}

/*Project*/

i {
    color: rgba(0, 0, 0, 0.3);
}

.ProjTasks {
    font-size: 20px;
}

.icons {
    margin-left: 15px;
}

.projectIcon {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.project_todo {
    border: solid 1px #4D868D;
    color: #4D868D;
    padding: 3px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px; 
}

.project_progress {
    border: solid 1px #F69C00;
    color: #F69C00;
    padding: 3px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.project_done {
    border: solid 1px #55B924;
    color: #55B924;
    padding: 3px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.projectTable {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    padding: 10px;
}

.projText {
    color: rgba(0, 0, 0, 0.5);
}

/*Task*/

.taskIcon {
    margin-right: 10px;
    color: #4D868D;
    font-size: 20px;
    border: solid 2px #4D868D;
    border-radius: 50%;
    padding: 7px;
}

#currentTask {
    background-color: white;
    height: 350px;
    margin-right: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    padding: 10px;
}

#currentProfile {
    background-color: white;
    height: 350px;
    margin-left: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    padding: 10px;
}

.taskPriority {
    font-size: 15px;   
}

#statusMajor {
    color: #F69C00;
}

.btnDrop {
    background-color: white;
    border: solid 1px;
    text-align: left;
    border-radius: 0;
}

.taskText {
    padding: 10px;
}

.taskAssignee {
    color: #4D868D;
    text-decoration: underline;
}

.taskCalend {
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
}

/*Profile*/

.MyProfile {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 200px;
    width: 240px;
    padding: 15px;
}

.MyProjectsProfile {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 150px;
    width: 240px;
    padding: 10px;
}

.linkMyProject {
    font-size: 15px;
    color: #4D868D;
    text-decoration: underline;
}

.profName {
    margin-top: -10px;
}

.persInfo {
    margin-left: -20px;
}

/*Filters*/

.MyFilters {
    background-color:white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border: 1px;
    margin: 15px;
    height: 130px;
    width: 300px;
    padding: 10px;
}

.filtersStat {
    margin-left: -5px;
}

/*PopUp*/

#add_project {
    display: none;
}

.ui-widget-header,.ui-state-default, ui-button{
            background:#4D868D;
            border: 1px solid #4D868D;
            color: #FFFFFF;
            font-weight: bold;
         }

.ui-dialog-titlebar-close {
    background-color: #4d868d;
    border: none;
}

.ui-widget-overlay.ui-front
{
    background-color: black;
    background-image: none;
    opacity: 0.9;
    z-index: 1040;    
}

.ui-dialog-content, .ui-widget-content {
    background-color: white;
}