
@{
    ViewBag.Title = "Filters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
            <li>
                <h1><b>Filters</b>
                </h1>
            </li>
            <li>
                <a href="#"><i class="fa fa-plus-circle projPlus" aria-hidden="true"></i></a>
            </li>
        </ul>
        <div class="col-md-3 col-xs-6 MyFilters">
            <h3 class="projName">Financier Filter</h3>
            <ul class="list-inline icons filtersStat" style="list-style-type: none">
                <li>
                    <span class="projText">Search:</span>
                    <span>invalid</span>
                </li>
                <li>
                    <span class="projText">Status:</span>
                    <span>Done, To do...</span>
                </li>
                <li>
                    <span class="projText">Priority:</span>
                    <span>Major, Minor...</span>
                </li>
                <li>
                    <span class="projText">Project:</span>
                    <span>The Titan, T...</span>
                </li>
                <li>
                    <span class="projText">Assignee:</span>
                    <span>George Or...</span>
                </li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6 MyFilters">
            <h3 class="projName">Titan Filter</h3>
            <ul class="list-inline icons filtersStat" style="list-style-type: none">
                <li>
                    <span class="projText">Search:</span>
                    <span>invalid</span>
                </li>
                <li>
                    <span class="projText">Status:</span>
                    <span>Done, To do...</span>
                </li>
                <li>
                    <span class="projText">Priority:</span>
                    <span>Major, Minor...</span>
                </li>
                <li>
                    <span class="projText">Project:</span>
                    <span>The Titan, T...</span>
                </li>
                <li>
                    <span class="projText">Assignee:</span>
                    <span>George Or...</span>
                </li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6 MyFilters">
            <h3 class="projName">Titan Filter</h3>
            <ul class="list-inline icons filtersStat" style="list-style-type: none">
                <li>
                    <span class="projText">Search:</span>
                    <span>invalid</span>
                </li>
                <li>
                    <span class="projText">Status:</span>
                    <span>Done, To do...</span>
                </li>
                <li>
                    <span class="projText">Priority:</span>
                    <span>Major, Minor...</span>
                </li>
                <li>
                    <span class="projText">Project:</span>
                    <span>The Titan, T...</span>
                </li>
                <li>
                    <span class="projText">Assignee:</span>
                    <span>George Or...</span>
                </li>
            </ul>
        </div>

       @*<br><i class="fa fa-filter" aria-hidden="true"> Filters:  35</i>*@
    </div>
</div>


