
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12 col-xs-12">

        <h2><b>Projects</b>
        </h2>

        <a href="/Manage/Project" class="projectsPage">
            <div class="col-md-3 col-xs-6 MyProjects">
                <p class="projName">The Titan</p>
                <p class="projPref">TDF</p>
                <div class="text-right">
                    <ul class="list-inline icons">
                        <li>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"> 67</i>
                        </li>
                        <li>
                            <i class="fa fa-users" aria-hidden="true"> 7</i>
                        </li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="/Manage/Project">
            <div class="col-md-3 col-xs-6 MyProjects">
                Project1

            </div>
        </a>

        <a href="/Manage/Project">
            <div class="col-md-3 col-xs-6 MyProjects">
                Project2

            </div>
        </a>

        <a href="/Manage/Project">
            <div class="col-md-3 col-xs-6 MyProjects">
                Project3

            </div>
        </a>
    </div>
    @*<br><p><span class="glyphicon glyphicon-th-list" /> 35 </p>*@
</div>