
@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <ul class="list-inline">
        <li>
            <h2>The Titan</h2>
        </li>
        <li>
            <img src="~/images/project_plus.png"/>
        </li>
    </ul>
    <ul class="list-inline icons">
        <li>
            <span class="glyphicon glyphicon-edit"> 67</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-user"> 7</span>
        </li>
    </ul>
    <div class="row">
        <div class="col col-lg-12">
            <div class="MyProjects">
                <div class="projLine">
                    <div class="col-sm-1">
                        <img class="projectIcon" src="~/images/icon_down.png">
                    </div>
                    <label>TDT-67</label>
                    <span class="project_todo">To do</span>
                    <p>Font for password is different from other labels font on 'Login' screen</p>
                </div>
                <hr/>
                <div class="projLine">
                    <div class="col-sm-1">
                        <img class="projectIcon" src="~/images/icon_up.png">
                    </div>
                    <label>TDT-67</label>
                    <span class="project_progress">In progress</span>
                    <p>The error message is displayed after tapping on the 'Get Link' button on the volume's 'Information' screen</p>
                </div>
            </div>
        </div>
    </div>
</div>

