@model IEnumerable<BugsTrackingSystem.Models.CommentViewModel>
@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var items = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "In progress",
            Value = "0"
        },
        new SelectListItem
        {
            Text = "To do",
            Value = "1"
        },
        new SelectListItem
        {
            Text = "Done",
            Value = "3",
            Selected = true
        }
    };
}

<div class="container">

    <div class="row top">

        <div class="text-right">
            <i class="fa fa-pencil taskIcon" aria-hidden="true"></i>
            <i class="fa fa-files-o taskIcon" aria-hidden="true"></i>
            <i class="fa fa-trash taskIcon" aria-hidden="true"></i>
        </div>

        <div class="top-buffer">
            <div class="col-md-8 col-xs-12">
                <div id="currentTask">
                    <div class="col-md-8 text-left">
                        <span class="taskPriority"><b>Priority:</b></span>
                        <img src="~/images/icon_up.png"/>
                        <span id="statusMajor">Major</span>
                    </div>
                    <div class="col-md-4 text-right">
                        <span class="taskPriority"><b>Status:</b></span>
                        @Html.DropDownList("drop-down", items, new { @class = "btnDrop" })
                    </div>
                    <br><hr>
                    <div class="taskText">
                        <p>Steps to reproduce:<br>
                            1. Log in to the Cloud Universe app<br>
                            2. Tap on the volume information button<br>
                            3. Tap the 'Get Link' button on the 'Information' screen<br>
                            <br>
                            Actual result:<br>
                            The 'Request failed: forbidden (403)' error message was displayed (Please see screenshot<br>
                            attached)<br>
                            <br>
                            Expected result:<br>
                            The 'Get Link' screen is displayed<br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div id="currentProfile">
                    <div class="top-buffer">
                        <div class="col-md-6 text-left">
                            <span class="taskPriority"><b>Assignee:</b></span>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="taskAssignee" href="#">Assign to me</a>
                        </div>
                        <div class="text-left">
                            <img src="~/images/orwell.jpg" class="img-circle" height="50" width="50" alt="no image"/>
                            <p>George Orwell</p>
                            <p>george-owell@@email.com</p>
                        </div>
                        <i class="fa fa-calendar taskCalend" aria-hidden="true"> <b>Created: </b></i><br>
                        <i class="fa fa-calendar taskCalend" aria-hidden="true"> <b>Updated: </b></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="detailBox">
        <div class="actionBox">
            <ul class="commentList">
                @foreach (var comment in Model)
                {
                    <li>
                        <div class="commenterImage">
                            <img src="http://lorempixel.com/50/50/people/6" />
                        </div>
                        <div class="commentText">
                            <p class="">@comment.CommentText</p> <span class="date sub-text">@comment.CreationDate.ToString("HH:mm:ss dd.MM.yyyy")</span>
                        </div>
                    </li>
                }
            </ul>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Your comments" />
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Add</button>
                </div>
            </form>
        </div>
    </div>

</div>

