@model List<string>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12 col-xs-12">
        <ul class="list-inline">
        <li>
            <h1><b>Users</b></h1>
        </li>
        <li>
            <a href="#"><i class="fa fa-plus-circle projPlus" aria-hidden="true"></i></a>
        </li>
        </ul>
        <a href="#" class="projectsPage">
            <div class="col-md-3 col-xs-6 MyProjects">
                <div class="col-md-3">
                    <img class="img-circle" src=@Model[0] width="50" height="50"/>
                </div>
                <div class="col-md-8">
                    <span>George Orwell</span><br>
                    <span>george@@email.com</span>
                </div>
                <br><br><br>
                <div class="col-md-3">
                    <h5><span class="project_progress">Me</span></h5>
                </div>
                <div class="text-right">
                    <ul class="list-inline icons">
                        <li>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"> 13</i>
                        </li>
                        <li>
                            <i class="fa fa-list" aria-hidden="true"> 3</i>
                        </li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="#" class="projectsPage">
            <div class="col-md-3 col-xs-6 MyProjects">
                <div class="col-md-3">
                    <img class="img-circle" src=@Model[1] width="50" height="50" />
                </div>
                <div class="col-md-8">
                    <span>Agatha Clarissa</span><br>
                    <span>agatha@@email.com</span>
                </div>
                <br><br><br>
                <div class="text-right">
                    <ul class="list-inline icons">
                        <li>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"> 9</i>
                        </li>
                        <li>
                            <i class="fa fa-list" aria-hidden="true"> 1</i>
                        </li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="#" class="projectsPage">
            <div class="col-md-3 col-xs-6 MyProjects">
                <div class="col-md-3">
                    <img class="img-circle" src=@Model[2] width="50" height="50" />
                </div>
                <div class="col-md-8">
                    <span>Ernest Hemingway</span><br>
                    <span>ernest@@email.com</span>
                </div>
                <br><br><br>
                <div class="col-md-3">
                    <h5><span class="project_todo">Admin</span></h5>
                </div>
                <div class="text-right">
                    <ul class="list-inline icons">
                        <li>
                            <i class="fa fa-pencil-square-o" aria-hidden="true"> 3</i>
                        </li>
                        <li>
                            <i class="fa fa-list" aria-hidden="true"> 2</i>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
    @*<br><i class="fa fa-users" aria-hidden="true"> Users: 34</i>*@
</div>
