@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3 col-xs-12">
        <h1>My Projects</h1>
        <div class="MyProjects">
            Project0
        </div>
        <div class="MyProjects">
            Project1
        </div>
        <div class="MyProjects">
            Project2
        </div>
    </div>
    <div class="col-md-9 col-xs-12">
        <h1>Assigned to me</h1>
    </div>
</div>